.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 15%;
    margin-top: 55px;
}

.title {
    font-size: 25px;
    color: #F1F1F1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 770px) {
    .container {
        margin: 0 5%;
    }

    .title {
        flex-direction: column;
        font-size: 15px;
        margin: 0;
    }

    .image {
        width: 15%;
    }
}